
*.xml
*.prefs
*.xmi
*.properties
*.ini
*.prefs
*.instance
*.png
file/workspace/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
*.resources
*.index
file/workspace/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
*.dat
file/workspace/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
*.ini
*.gif
*.log
*.resources
file/workspace/.metadata/.log
*.resources
*.index
*.dat
*.log
