@charset "UTF-8";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
dt{
  margin: 0;
  padding: 0;
}
img{
  border: 0;
  vertical-align: top;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
em {
  font: normal normal 12px sans-serif;
}
ul,
ol,
li {
  list-style: none;
}
a:link {
  text-decoration: none;
}

#skip-menu a {
  position: absolute;
  width: 100%;
  height: 25px;
  top: -999em;
  left: 0;
  line-height: 25px;
  z-index: 1000;
  background-color: #000;
  color: #fff;
  text-align: center;
}
#skip-menu a:focus {
  top: 0;
}
#macaron img{
  position: fixed;
  scale: 50%;
  right: 5%;
  top: 50%;
}

#wrap {
  width: 80%;
  margin: 0 auto;
  background-color: #f0f0f0;
}
#header {
  position: relative;
  padding: 15px 0;
}
#header .logo h1 a{
  display: block;
  width: 100px;
  background: url(../img/logo.png) no-repeat 15px 0;
  height: 75px;
  text-indent: -999em;
}
#header #gnb {
  position: absolute;
  top: 45%;
  right: 0;
}
#header #gnb ul::after {
  content: "";
  display: block;
  clear: left;
}
#header #gnb ul li {
  float: left;
}
#header #gnb ul li a {
  padding :10px;
  color: #555;
}

#container #content .intro img {
  width: 100%;
  margin: 10px 0;
}
#container #content dl dd p{
  margin: 20px 0;
}
#container #content dl dd p.coffee1{
  font: bold 18px sans-serif;
}
#container #content dl dd p.coffee2{
  font: italic 20px sans-serif;
  color: #006633;
}

#footer{
  padding: 25px 0;
  background-color: #333;
}
#footer .copyright{
  text-align: center;
}
#footer .copyright ul li{
  display: inline;
}
#footer .copyright ul li a{
  padding: 0 3px;
  color: #ddd;
}

#footer .copyright p{
  margin-top: 10px;
  color: #ddd;
}