<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 목록</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="wrap position-relative min-vh-100 pb-5">
      <!-- Header start -->
      <header class="p-3 text-bg-dark">
        <div class="container">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <a
              href="/"
              class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
            >
              <svg
                class="bi me-2"
                width="40"
                height="32"
                role="img"
                aria-label="Bootstrap"
              >
                <use xlink:href="#bootstrap" />
              </svg>
            </a>

            <ul
              class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
              <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
              <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
              <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input
                type="search"
                class="form-control form-control-dark text-bg-dark"
                placeholder="Search..."
                aria-label="Search"
              />
            </form>

            <div class="text-end">
              <button type="button" class="btn btn-outline-light me-2">
                Login
              </button>
              <button type="button" class="btn btn-warning">Sign-up</button>
            </div>
          </div>
        </div>
      </header>
      <!-- Header End -->

      <!-- Container Start -->
      <div class="container py-5 mb-5" style="max-width: 600px">
        <div class="py-5 text-center">
          <h2>상품 목록</h2>
        </div>
        <hr class="my-4" />
        <!-- Table -->
        <div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr th:each="item : ${itemlist}">
                <td><a th:href="@{/store/items/{itemId}(itemId=${item.id})}" th:text="${item.id}" class="nav-link"></a></td>
                <td><a th:href="@{/store/items/{itemId}(itemId=${item.id})}" th:text="${item.itemName
                }" class="nav-link"></a></td>
                <td th:text="${item.price}">가격</td>
                <td th:text="${item.quantity}">수량</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- button -->
        <div class="row">
          <form action="/store/items/add">
            <div class="d-grid gap-2">
              <button
                class="btn btn-secondary btn-lg float-center"
                type="submit"
              >
                상품 등록
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Container End -->

      <!-- Footer Start -->
      <footer class="py-3 text-bg-dark position-absolute bottom-0 w-100">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">Pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-white">About</a>
          </li>
        </ul>
        <p class="text-center text-white">&copy; 2022 Company, Inc</p>
      </footer>
      <!-- Footer End -->
    </div>
  </body>
</html>
